.source-list {
    height: 5em;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    background-color: seashell;
}

span {
    position: relative;
    display: inline-block;
}
span sup {
    position: absolute;
    left: 0;
}