<nav class="source-list">
    <button class="m-2 btn btn-danger" *ngIf="auth.isAdmin()" (click)="loadNewNews()">Load new</button>
    <button class="m-2 btn btn-primary" *ngIf="auth.isAdmin()" (click)="openAddSourceModal()">Adaugă</button>
    <button class="m-2 btn btn-primary" (click)="updateSources()">Save</button>
    <div *ngFor="let source of sources">
        <div class="mr-1 ml-1" (click)="sourceClick(source.name)"
        [ngClass]="source.selected ? 'btn btn-dark' : 'btn btn-outline-secondary'">
            {{source.name}}
        </div>
        <span *ngIf="auth.isAdmin()">
            <sup><button class="badge badge-danger" (click)="deleteSource(source.id)">Sterge</button></sup>
            <sub><button class="badge badge-info" (click)="openModifySourceModal(source)">Modifică</button></sub>
        </span>
    </div>
</nav>
<div class="text-center text-muted" *ngIf="noSources">
    Nici o sursă selectată!    
</div>
<div class="d-flex flex-column align-items-center">
    <div *ngFor="let article of articles">
        <app-news-article
        [title] = "article.title"
        [source] = "article.source"
        [imageUrl] = "article.imageUrl"
        [content] = "article.content"
        [link] = "article.link"
        ></app-news-article>
    </div>
</div>
<div class="text-center m-2" *ngIf="!noSources">
    <button class="btn btn-primary" (click)="loadMore()" [disabled] = "loadingMore">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loadingMore"></span>
        Încarcă mai multe
    </button>
</div>