.source-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
}

span {
    position: relative;
    display: inline-block;
}
span sup {
    position: absolute;
    left: 0;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.up-button {
    width: 2em;
    opacity: 0.5;
}

.up-button:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
}
