.card {
    width: 90vw;
}

.card-img-top {
    width: 100%;
    height: 15em;
    object-fit: cover;
}

.card-footer {
    height: 3em;
}

@media screen and (min-width: 768px) {
    .card {
        width: 40em;
    }

    .card-img-top {
        height: 25em;
    }
}