<div id="card{{article.id}}" class="card shadow mb-2 mt-2 bg-white rounded">
  <a [href]="article.link" target="_blank">
    <img class="card-img-top" [src]="article.imageUrl" alt="Fara imagine">
  </a>
  <div class="card-body">
    <h5 class="card-title font-weight-bold">{{article.title}}</h5>
    <a [href]="article.source" target="_blank"><h6 class="card-subtitle text-muted">{{article.source}}</h6></a>
    <p class="card-text pt-1" [innerHtml]="article.content"></p>
  </div>
  <div class="card-footer text-center">
    <a [href]="article.link" target="_blank">Citește mai mult</a>
  </div>
</div>

