<nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <a href="/"><h1 class="navbar-brand mb-0"><img class="logo" src="/assets/prism-only-logo.png">Prism</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" role="button" href="/settings">Setări</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" href="/">Acasă</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" href="/about">Despre</a>
    </li>
      <li class="nav-item">
          <a class="nav-link text-danger" role="button" (click)="logout()">Log out</a>
      </li>
    </ul>
  </div>
</nav>

<h1 class="display-4 text-center">Setări</h1>
<h5 class="display-5 text-center text-muted">Salut, {{user.name}}</h5>
<h6 class="display-6 text-center text-muted">{{user.email}}</h6>
<hr class="my-4">
<div class="p-3">
    <form [formGroup]="userForm" (ngSubmit)="doChange()" class="form-group">
      <div class="form-inline">
        <input
            class="form-control col-md-2 col-10 mr-2"
            type="text"
            placeholder="Nume ..."
            formControlName="Name"
        />
          <button
          type="submit"
          class="btn btn-primary"
          [disabled]="userForm.status === 'INVALID'"
        >
          Salvare
        </button>
      </div>
      <div 
            class="text-danger" 
            *ngIf="!userForm.controls.Name.pristine && userForm.controls.Name.status === 'INVALID'"
        >Numele nu poate fi gol</div>
      <div
            class="text-danger" 
            *ngIf="errorMessage.length"
        >{{errorMessage}}</div>
      <div 
            class="text-success" 
            *ngIf="success && userForm.status === 'VALID'"
        >Succes</div>
    </form>
    <label class="mr-2">Temă:</label>
    <div class="btn-group btn-group-toggle mb-2" ngbRadioGroup name="themes" [(ngModel)]="theme" (change)="themeChange()">
      <label ngbButtonLabel class="btn-light">
        <input ngbButton type="radio" value="light">Luminoasă</label>
      <label ngbButtonLabel class="btn-dark">
        <input ngbButton type="radio" value="dark">Întunecată</label>
    </div>
    <br>
    <button
      type="button"
      class="btn btn-primary mb-2"
      (click)="openChangePasswordModal()"
    >Schimbă parola
    </button>
    <br>
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteUser()"
    >Șterge cont
    </button>
</div>
