<div class="jumbotron">
    <div class="text-center">
        <img class="logo" src="/assets/prism-logo.png">
        <h1 class="display-4">Settings</h1>
    </div>
    <hr class="my-4">
    <h5 class="display-5">Salut, {{user.name}}</h5>
    <h6 class="display-6">{{user.email}}</h6>
    <form [formGroup]="userForm" (ngSubmit)="doChange()" class="col-12 col-md-2">
      <div class="form-group">
        <label>Name</label>
        <input
            class="form-control"
            type="text"
            placeholder="Name ..."
            formControlName="Name"
        />
        <span 
            class="text-danger" 
            *ngIf="!userForm.controls.Name.pristine && userForm.controls.Name.status === 'INVALID'"
        >Name cannot be empty</span>
      </div>
  
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="userForm.status === 'INVALID'"
      >
        Salvare
      </button>
      <br/>
      <span
            class="text-danger" 
            *ngIf="errorMessage.length"
        >{{errorMessage}}</span>
      <span 
            class="text-success" 
            *ngIf="success"
        >Succes</span>
    </form>
    <br>
    <button
      type="button"
      class="btn btn-primary"
      (click)="openChangePasswordModal()"
    >Schimbă parola
    </button>
    <br>
    <button
      type="button"
      class="btn btn-danger"
      (click)="deleteUser()"
    >Șterge cont
    </button>
</div>
