<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifică sursa {{source.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="sourceForm" class="col-12">
          <div class="form-group">
              <label>Nume sursă</label>
              <input
                  class="form-control"
                  placeholder="Nume sursă ..."
                  formControlName="Name"
                  [ngModel]="source.name"
              />
              <span 
                  class="text-danger"
                  *ngIf="!sourceForm.controls.Name.pristine && sourceForm.controls.Name.status === 'INVALID'"
              >Name is invalid</span>
          </div>
          <div class="form-group">
              <label>Link sursă</label>
              <input
                  class="form-control"
                  placeholder="Link sursă ..."
                  formControlName="Link"
              />
              <span 
                  class="text-danger"
                  *ngIf="!sourceForm.controls.Link.pristine && sourceForm.controls.Link.status === 'INVALID'"
              >Link is invalid</span>
          </div>
      </form>     
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="dismiss()">Renunță</button>
      <button type="submit" class="btn btn-outline-primary" (click)="addSource()" [disabled]="sourceForm.status === 'INVALID'">Modifică</button>
  </div>