<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-text">Înapoi</a>
</nav>
<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="logo" src="/assets/prism-logo.png">
    <h4 class="text-center title my-4">Locul unde informația este liberă!</h4>
    <div class="col-md-6 col-12 p-20 m-10 text-center text-justify">
      Zilnic cantitatea de informații la care avem acces este mai mare ca niciodată la fel și necesitatea omului de a rămâne în contact cu actualitatea.
      Prism reprezintă o platformă care agregă articole de știri din mai multe surse, exclusiv după preferințele tale. Tu decizi ceea ce vezi. 
    </div>
    <div class="text-muted mt-4">Selectează sursele</div>
    <div class="d-flex flex-wrap justify-content-center align-items-center flex-row">
      <div *ngFor="let source of sources">
        <div class="m-1" (click)="sourceClick(source.name)"
        [ngClass]="source.selected ? 'btn btn-primary' : 'btn btn-outline-dark'">
            {{source.name}}
        </div>
      </div>
    </div>

    <img class="col-8 col-sm-6 col-md-5 col-lg-4 col-xl-3" src="/assets/photo.jpeg" id="photo">

    <app-news-article
      [article] = "card"
    >
    </app-news-article>

</div>


<p class="mb-0 mt-10 text-center bg-dark text-light p-20">
    <a href="mailto:bogdandinescu@tutanota.com" class="text-light mr-1">Dinescu Bogdan-George</a>{{year}}
</p>
