<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4 text-center">Meteo</h1>
    <h5 class="display-5 text-center text-muted">{{meteoData.city_name}}</h5> 
    <h6 class="display-6 text-center text-muted">Source: <a href="https://www.weatherbit.io" target="_blank">Weatherbit</a></h6> 
    <hr class="my-4">
    <div class="cards">
        <div class="card" *ngFor="let data of meteoData.data">
            <div class="card-body">
                <h3 class="card-title">{{data.low_temp}}/{{data.high_temp}} °C</h3>
                <p class="card-text">{{data.valid_date}}</p>
                <p class="card-text">Precipitații: {{data.pop}}%</p>
            </div>      
            <img class="card-img-bottom" src="https://www.weatherbit.io/static/img/icons/{{data.weather.icon}}.png"/>
            <p>{{data.weather.description}}</p>
        </div>
    </div>
  </div>