<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Schimbă parola</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="passwordForm" class="col-12">
          <div class="form-group">
              <label>Parolă veche</label>
              <input
                  type="password"
                  class="form-control"
                  placeholder="Parolă veche..."
                  formControlName="OldPassword"
              />
              <span 
                  class="text-danger"
                  *ngIf="!passwordForm.controls.OldPassword.pristine && passwordForm.controls.OldPassword.status === 'INVALID'"
              >Câmpul nu poate fi gol</span>
          </div>
          <div class="form-group">
              <label>Parolă nouă</label>
              <input
                  type="password"
                  class="form-control"
                  placeholder="Parolă nouă..."
                  formControlName="NewPassword"
              />
              <span 
                  class="text-danger"
                  *ngIf="!passwordForm.controls.NewPassword.pristine && passwordForm.controls.NewPassword.status === 'INVALID'"
              >Câmpul nu poate fi gol</span>
          </div>
      </form>
      <span
            class="text-danger" 
            *ngIf="errorMessage.length"
        >{{errorMessage}}</span>
      <span 
            class="text-success" 
            *ngIf="successMessage.length"
        >{{successMessage}}</span>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="dismiss()">Renunță</button>
      <button type="submit" class="btn btn-outline-primary" (click)="changePassword()" [disabled]="passwordForm.status === 'INVALID'">Modifică</button>
  </div>